<h2>
<center>
BUILD FINAL CSV
</center>
</h2>

<h3>
Import required modules
</h3>

In [1]:
import csv

<h3>
Define main path of the project (Windows/Mac) where the notebooks are located 
</h3>

In [2]:
# Windows
#path = 'C:/Users/mzlarosa/OneDrive - unime.it/Learning/CdL Informatica/Anno II - Database/Module B/project/'

# Mac
path = '/Users/mau/OneDrive - unime.it/Learning/CdL Informatica/Anno II - Database/Module B/project/'

<h3>
Create a dictionary of empty lists, where the keys are the attribute names
</h3>

In [35]:
finalSchema = ['courseID', 'discipline', 'courseName', 'courseYear', 'syllabus', 'studentID', 'firstName', 'lastName', 'dateOfBirth', 'genre', 'country', 'town', 'email', 'materialID', 'unit', 'materialType', 'name', 'dimension', 'accessDate']
finalDict = dict()
for attribute in finalSchema:
    finalDict[attribute] = list()
print(finalDict)

{'courseID': [], 'discipline': [], 'courseName': [], 'courseYear': [], 'syllabus': [], 'studentID': [], 'firstName': [], 'lastName': [], 'dateOfBirth': [], 'genre': [], 'country': [], 'town': [], 'email': [], 'materialID': [], 'unit': [], 'materialType': [], 'name': [], 'dimension': [], 'accessDate': []}

<h3>
Load <i>course</i> table
</h3><br>
This table contains all information available on courses, that I want to include in the final table.

In [ ]:
key = 0
courseDict = dict()
with open(path + 'tables/coursesTable.csv', newline = '', encoding = 'UTF-16') as csvCourses:
    reader = csv.reader(csvCourses, delimiter = ',')
    for line in reader:
        courseDict[key] = line
        key += 1

In [ ]:
newCourseDict = dict()
for key in courseDict[0]:
    newCourseDict[key] = list()
for i in range(1, len(courseDict)):
    for j in range(0, len(courseDict[0])):
        newCourseDict[courseDict[0][j]].append(courseDict[i][j])

In [30]:
print(newCourseDict.keys())

dict_keys(['courseID', 'discipline', 'courseName', 'courseYear', 'syllabus'])

<h4>
Print out result (a small sample)
</h4>

In [42]:
print(' ' * (27 - len('course table')), 'course table:', len(newCourseDict['courseID']), '\n')
print(' ' * (5 - len('ID')), 'ID', ' ' * (15 - len('discipline')), 'discipline', ' ' * (40 - len('course name')), 'course name', ' ' * (5 - len('year')), 'year', ' ' * (40 - len('syllabus')), 'syllabus')
for i in range(0, 50):
    print(' ' * (5 - len(newCourseDict['courseID'][i])), newCourseDict['courseID'][i], ' ' * (15 - len(newCourseDict['discipline'][i][0 : 14])), newCourseDict['discipline'][i][0 : 14], ' ' * (40 - len(newCourseDict['courseName'][i][0 : 38])), newCourseDict['courseName'][i][0 : 38], ' ' * (5 - len(newCourseDict['courseYear'][i])), newCourseDict['courseYear'][i], ' ' * (40 - len(newCourseDict['syllabus'][i][0 : 38])), newCourseDict['syllabus'][i][0 : 38])
print(' ' * (5 - len('[...]')), '[...]')

                course table: 480

    ID       discipline                               course name   year                                  syllabus
     1               IT    Introduction to the Internet of Things   2022    http://learning_platform.com/introduct
     2               IT                Agile Software Development   2022    http://learning_platform.com/agilesoft
     3               IT    Autodesk Certified Professional: AutoC   2022    http://learning_platform.com/autodeskc
     4               IT            Fundamentals of Graphic Design   2022    http://learning_platform.com/fundament
     5               IT                          Java for Android   2022    http://learning_platform.com/javaforan
     6               IT    Introduction to Programming with MATLA   2022    http://learning_platform.com/introduct
     7               IT                            Cryptography I   2022    http://learning_platform.com/cryptogra
     8               IT    HTML, CSS, and Javascript for Web Deve   2022    http://learning_platform.com/htmlcssan
     9               IT    Google Cloud Big Data and Machine Lear   2022    http://learning_platform.com/googleclo
    10               IT                       Algorithms, Part II   2022    http://learning_platform.com/algorithm
    11               IT                        Algorithms, Part I   2022    http://learning_platform.com/algorithm
    12               IT    Divide and Conquer, Sorting and Search   2022    http://learning_platform.com/divideand
    13               IT          Cloud Computing Concepts, Part 1   2022    http://learning_platform.com/cloudcomp
    14               IT    Programming for Everybody (Getting Sta   2022    http://learning_platform.com/programmi
    15               IT    Design and Make Infographics (Project-   2022    http://learning_platform.com/designand
    16               IT        Cloud Computing Basics (Cloud 101)   2022    http://learning_platform.com/cloudcomp
    17               IT    Hadoop Platform and Application Framew   2022    http://learning_platform.com/hadooppla
    18               IT                       Algorithmic Toolbox   2022    http://learning_platform.com/algorithm
    19               IT    Internet History, Technology, and Secu   2022    http://learning_platform.com/interneth
    20               IT    Introduction to User Experience Design   2022    http://learning_platform.com/introduct
    21               IT            English for Career Development   2022    http://learning_platform.com/englishfo
    22               IT            Data Visualization with Python   2022    http://learning_platform.com/datavisua
    23               IT    Computer Science: Programming with a P   2022    http://learning_platform.com/computers
    24               IT                           AI For Everyone   2022    http://learning_platform.com/aiforever
    25               IT    Programming Foundations with JavaScrip   2022    http://learning_platform.com/programmi
    26               IT    An Introduction to Interactive Program   2022    http://learning_platform.com/anintrodu
    27               IT    Code Yourself! An Introduction to Prog   2022    http://learning_platform.com/codeyours
    28               IT                    Introducci\'f3n a Java   2022    http://learning_platform.com/introducc
    29               IT                       Fundamentals of GIS   2022    http://learning_platform.com/fundament
    30               IT    Python and Statistics for Financial An   2022    http://learning_platform.com/pythonand
    31               IT         Cybersecurity and Its Ten Domains   2022    http://learning_platform.com/cybersecu
    32               IT                    Crash Course on Python   2022    http://learning_platform.com/crashcour
    33               IT    Design and Interpretation of Clinical    2022    http://learning_platform.com/designand
    34               IT    Google Cloud Fundamentals: Core Infras   2022    http://learning_platform.com/googleclo
    35               IT            Design Thinking for Innovation   2022    http://learning_platform.com/designthi
    36               IT             Programming Languages, Part A   2022    http://learning_platform.com/programmi
    37               IT    Introduction to Cybersecurity Tools &    2022    http://learning_platform.com/introduct
    38               IT    How To Create a Website in a Weekend!    2022    http://learning_platform.com/howtocrea
    39               IT    Functional Programming Principles in S   2022    http://learning_platform.com/functiona
    40               IT                      SQL for Data Science   2022    http://learning_platform.com/sqlfordat
    41               IT                  Programming Fundamentals   2022    http://learning_platform.com/programmi
    42               IT                     Computer Architecture   2022    http://learning_platform.com/computera
    43               IT                   Build a Modern Computer   2022    http://learning_platform.com/buildamod
    44               IT    Getting Started with AWS Machine Learn   2022    http://learning_platform.com/gettingst
    45               IT                     Introduction to HTML5   2022    http://learning_platform.com/introduct
    46               IT    Foundations of User Experience (UX) De   2022    http://learning_platform.com/foundatio
    47               IT                Introduction to Google SEO   2022    http://learning_platform.com/introduct
    48               IT    Visual Elements of User Interface Desi   2022    http://learning_platform.com/visualele
    49               IT    Fundamentals of Visualization with Tab   2022    http://learning_platform.com/fundament
    50               IT                 Agile with Atlassian Jira   2022    http://learning_platform.com/agilewith
 [...]

<h3>
Load <i>student</i> table
</h3><br>
This table contains all information available on students, that I want to include in the final table.

In [4]:
key = 0
studentDict = dict()
with open(path + 'tables/studentTable.csv', newline = '', encoding = 'UTF-16') as csvStudent:
    reader = csv.reader(csvStudent, delimiter = ',')
    for line in reader:
        studentDict[key] = line
        key += 1

In [5]:
# rearrange the student dictionary by using data in line [0] as keys
newStudentDict = dict()
for key in studentDict[0]:
    newStudentDict[key] = list()
for i in range(1, len(studentDict)):
    for j in range(0, len(studentDict[0])):
        newStudentDict[studentDict[0][j]].append(studentDict[i][j])

In [6]:
print(newStudentDict.keys())

dict_keys(['studentID', 'firstName', 'lastName', 'dateOfBirth', 'genre', 'country', 'town', 'email'])

<h4>
Print out the result
</h4>

In [41]:
print(' ' * (27 - len('student table')), 'student table:', len(newStudentDict['studentID']), '\n')
print(' ' * (5 - len('ID')), 'ID', ' ' * (12 - len('first name')), 'first name', ' ' * (12 - len('last name')), 'last name', ' ' * (15 - len('date of birth')), 'date of birth', ' ' * (10 - len('genre')), 'genre', ' ' * (15 - len('country')), 'country', ' ' * (12 - len('town')), 'town', ' ' * (15 - len('email')), 'email')
for sID, firstName, lastName, dob, genre, country, town, email in zip(newStudentDict['studentID'][0 : 50], newStudentDict['firstName'][0 : 50], newStudentDict['lastName'][0 : 50], newStudentDict['dateOfBirth'][0 : 50], newStudentDict['genre'][0 : 50], newStudentDict['country'][0 : 50], newStudentDict['town'][0 : 50], newStudentDict['email'][0 : 50]):
    print(' ' * (5 - len(sID)), sID, ' ' * (12 - len(firstName[0 : 10])), firstName[0 : 10], ' ' * (12 - len(lastName[0 : 10])), lastName[0 : 10], ' ' * (15 - len(dob)), dob, ' ' * (10 - len(genre)), genre, ' ' * (15 - len(country[0 : 14])), country[0 : 14], ' ' * (12 - len(town[0 : 11])), town[0 : 11], ' ' * (15 - len(email[0 : 14])), email[0 : 14])
print(' ' * (5 - len('[...]')), '[...]')

               student table: 6500

    ID    first name     last name    date of birth       genre          country          town            email
     1        Jordan         Welch       2004-12-29        male    French Guiana   Lake Erinsi   jordan.welch@h
     2      Custodia       Hidalgo        1981-4-23      female          Eritrea      Alicante   custodia.hidal
     3         Haluk        Şensoy        1973-2-23        male           Jersey   East Vahitt   haluk.şensoy@h
     4          Erna        Jopich        1965-3-19      female         Thailand    Euskirchen   erna.jopich@ya
     5           Pål          Holm        1996-9-10        male            Libya      Jacobsen   pål.holm@yahoo
     6         İhsan        Hançer        1978-7-27      female          Somalia   Sezerboroug   i̇hsan.hançer@
     7        Kelsey        Kelley       1979-10-16      female          Liberia    North Todd   kelsey.kelley@
     8       Artūras      Gronskis         1968-5-6        male          Burundi    Gustasland   artūras.gronsk
     9        Tayyip         Akçay        1969-8-31  non binary            Congo   Eraslanberg   tayyip.akçay@g
    10        Darius    Paulauskas        1964-4-10  non binary   United States    North Darij   darius.paulaus
    11         Franz        Scholl         1963-4-4        male          Eritrea   Hannoversch   franz.scholl@y
    12          Dave          Sire         1989-3-1        male     Tadzjikistan        Geleen   dave.sire@yaho
    13       Maartje      Geerling         1968-7-3      female         Thailand   Ossendrecht   maartje.geerli
    14          Anny         Bauer        1987-5-30      female         Rumänien         Borna   anny.bauer@goo
    15         Scott         Reese        2000-5-31        male          Vietnam   Jenkinsches   scott.reese@gm
    16     Ana Júlia      Nogueira       2002-11-11      female   Trindade e Tob      da Cunha   ana júlia.nogu
    17         Malin       Evensen        1970-3-29      female   Marshall Islan          Mayø   malin.evensen@
    18          Anna       Larsson        2005-1-30      female          Schweiz      Karlstad   anna.larsson@y
    19         Gatik           Sen         1975-2-1      female           Taiwan         Buxar   gatik.sen@gmai
    20       Ippazio       Argenti        1974-2-18        male         Giamaica      Viticuso   ippazio.argent
    21        Xavier         Auger        1985-3-20        male           Gambie   Maurice-les   xavier.auger@w
    22       Jacinto      Berrocal         1965-9-2        male          Somalia          Jaén   jacinto.berroc
    23       Georges        Texier        1979-4-28        male       Porto Rico       Buisson   georges.texier
    24         Oldağ       Erdoğan       1981-11-22        male     Saudi Arabia     Bilirland   oldağ.erdoğan@
    25       Melissa        Mendes         1966-8-7      female       Cabo Verde      Teixeira   melissa.mendes
    26          Joan        Ripoll        1996-6-27        male          Turquía        Toledo   joan.ripoll@ho
    27          Lina    van de Koo        1970-9-13  non binary            Kenia   Kelpen-Oler   lina.van de ko
    28         Onkar    Brahmbhatt        2000-5-13        male          Moldova   Farrukhabad   onkar.brahmbha
    29          Juan       Pozuelo        1987-3-16        male             Fiji      Palencia   juan.pozuelo@g
    30     Frederike      Schwital       2000-11-17      female           Taiwan   Mühldorf am   frederike.schw
    31     Dominique        Evrard        1967-12-3      female       Madagascar       Joubert   dominique.evra
    32          Rita        Strand        1999-11-1      female     Sierra Leone   Ragnhildhav   rita.strand@ya
    33       Gabriel       Ribeiro        2005-6-19        male           Grécia         Braga   gabriel.ribeir
    34        Bozena         Klemt        1979-6-19      female           Guinea          Suhl   bozena.klemt@a
    35     Francisco        Barros       1965-11-28  non binary           Ruanda   Macedo de C   francisco.barr
    36        Elodia          Cabo         1985-4-8      female   República de C          León   elodia.cabo@ho
    37        Ingrid      Karlsson        1964-7-26      female         Tjeckien       Lidingö   ingrid.karlsso
    38         Sarah          Lara        1991-6-13  non binary          Vietnam   South Derek   sarah.lara@gma
    39       Kathrin          Bien        1968-1-22      female         Rumänien   Grevenbroic   kathrin.bien@y
    40         Jason          Lind       1994-10-29        male             Guam         Baflo   jason.lind@hot
    41       Stanley        Newton        1996-2-18        male            Niger   Collinsvill   stanley.newton
    42         Gavin         Smith         1970-2-7        male          Grenada   North Kayle   gavin.smith@ho
    43    Ana Vitóri        da Luz        1967-3-16      female         Marrocos   Peixoto do    ana vitória.da
    44        Manolo    Quintanill        1969-10-5        male          Rumania    Las Palmas   manolo.quintan
    45          Nils      Antonsen       1999-10-13        male   Trinidad and T          Haug   nils.antonsen@
    46       Anthony      Roberson        1999-7-11        male           Angola   West Paulto   anthony.robers
    47       Lorenzo         Krein        1970-7-24        male      El Salvador         Husum   lorenzo.krein@
    48       Cevheri        Sezgin        2000-5-19        male            Japan   New Nurmele   cevheri.sezgin
    49           Ugo       Bonatti       2002-10-30        male          Mayotte        Ussana   ugo.bonatti@ou
    50         Esmee     Hollander         1997-6-7      female       Oostenrijk        Hattem   esmee.hollande
 [...]

<h3>
Load <i>learning material</i> table
</h3><br>
This table contains all information available on learning material, that I want to include in the final table.

In [20]:
key = 0
lmDict = dict()
with open(path + 'tables/materialTable.csv', newline = '') as csvLM:
    reader = csv.reader(csvLM, delimiter = ',')
    for line in reader:
        lmDict[key] = line
        key += 1

In [21]:
newLMDict = dict()
for key in lmDict[0]:
    newLMDict[key] = list()
for i in range(1, len(lmDict)):
    for j in range(0, len(lmDict[0])):
        newLMDict[lmDict[0][j]].append(lmDict[i][j])

In [34]:
print(newLMDict.keys())

dict_keys(['materialID', 'unit', 'materialType', 'name', 'dimension'])

<h4>
Print out the result (a small sample)
</h4>

In [40]:
print(' ' * (27 - len('learning material table')), 'learning material table:', len(newLMDict['materialID']), '\n')
print(' ' * (12 - len('materialID')), 'materialID', ' ' * (8 - len('unit')), 'unit', ' ' * (15 - len('type')), 'type', ' ' * (60 - len('name')), 'name', ' ' * (10 - len('dimension')), 'dimension')
for i in range(0, 50):
    print(' ' * (12 - len(newLMDict['materialID'][i])), newLMDict['materialID'][i], ' ' * (8 - len(newLMDict['unit'][i])), newLMDict['unit'][i], ' ' * (15 - len(newLMDict['materialType'][i])), newLMDict['materialType'][i], ' ' * (60 - len(newLMDict['name'][i][0 : 60])), newLMDict['name'][i][0 : 60], ' ' * (10 - len(newLMDict['dimension'][i])), newLMDict['dimension'][i])
print(' ' * (12 - len('[...]')), '[...]')

     learning material table: 34346

   materialID      unit             type                                                          name   dimension
            1    Unit 1    video lecture                                [VIDEO] Append vs. Concatenate           7
            2    Unit 1   lecture slides                               [SLIDES] Append vs. Concatenate          11
            3    Unit 1    video lecture                                    [VIDEO] Project 1 Overview           4
            4    Unit 1   lecture slides                                   [SLIDES] Project 1 Overview          11
            5    Unit 1    video lecture                                       [VIDEO] Fake Namespaces           4
            6    Unit 1   lecture slides                                      [SLIDES] Fake Namespaces           8
            7    Unit 1    video lecture                                   [VIDEO] Nested Conditionals           6
            8    Unit 1   lecture slides                                  [SLIDES] Nested Conditionals           3
            9    Unit 1             quiz                                                   Unit 1 quiz          10
           10    Unit 2    video lecture                                         [VIDEO] Cloning Lists           8
           11    Unit 2   lecture slides                                        [SLIDES] Cloning Lists           4
           12    Unit 2    video lecture                                     [VIDEO] See how it's done           5
           13    Unit 2   lecture slides                                    [SLIDES] See how it's done           1
           14    Unit 2    video lecture             [VIDEO] What does this have to do with the brain?          10
           15    Unit 2   lecture slides            [SLIDES] What does this have to do with the brain?           0
           16    Unit 2    video lecture                                                 [VIDEO] Lists           1
           17    Unit 2   lecture slides                                                [SLIDES] Lists           2
           18    Unit 2    video lecture  [VIDEO] Keeping Track of Your Iterator Variable and Your Ite           2
           19    Unit 2   lecture slides  [SLIDES] Keeping Track of Your Iterator Variable and Your It           4
           20    Unit 2             quiz                                                   Unit 2 quiz           7
           21    Unit 3    video lecture                      [VIDEO] Choosing the Right Variable Name           8
           22    Unit 3   lecture slides                     [SLIDES] Choosing the Right Variable Name           1
           23    Unit 3    video lecture               [VIDEO] Some Ground Rules and Overview of Setup          10
           24    Unit 3   lecture slides              [SLIDES] Some Ground Rules and Overview of Setup           6
           25    Unit 3    video lecture                           [VIDEO] The in and not in Operators           2
           26    Unit 3   lecture slides                          [SLIDES] The in and not in Operators           5
           27    Unit 3    video lecture                                   [VIDEO] Order of Operations           4
           28    Unit 3   lecture slides                                  [SLIDES] Order of Operations           7
           29    Unit 3    video lecture                                     [VIDEO] About this Course           8
           30    Unit 3   lecture slides                                    [SLIDES] About this Course           8
           31    Unit 3    video lecture                           [VIDEO] Enum & Operator Overloading          10
           32    Unit 3   lecture slides                          [SLIDES] Enum & Operator Overloading           9
           33    Unit 3    video lecture                                  [VIDEO] Theory of Algorithms           8
           34    Unit 3   lecture slides                                 [SLIDES] Theory of Algorithms           7
           35    Unit 3    video lecture                           [VIDEO] Boolean Functions Synthesis           1
           36    Unit 3   lecture slides                          [SLIDES] Boolean Functions Synthesis           2
           37    Unit 3    video lecture                                   [VIDEO] Combining Selectors          11
           38    Unit 3   lecture slides                                  [SLIDES] Combining Selectors           6
           39    Unit 3    video lecture                                        [VIDEO] Creating Links           3
           40    Unit 3   lecture slides                                       [SLIDES] Creating Links           8
           41    Unit 3             quiz                                                   Unit 3 quiz           5
           42    Unit 4    video lecture                       [VIDEO] Non-Mutating Methods on Strings          11
           43    Unit 4   lecture slides                      [SLIDES] Non-Mutating Methods on Strings           2
           44    Unit 4    video lecture               [VIDEO] Building Blocks of Deep Neural Networks           2
           45    Unit 4   lecture slides              [SLIDES] Building Blocks of Deep Neural Networks          11
           46    Unit 4    video lecture                    [VIDEO] Writing code to load training data           3
           47    Unit 4   lecture slides                   [SLIDES] Writing code to load training data           8
           48    Unit 4    video lecture                                   [VIDEO] Hardware Simulation          11
           49    Unit 4   lecture slides                                  [SLIDES] Hardware Simulation           3
           50    Unit 4    video lecture                          [VIDEO] C++11 Feature: for statement           3
        [...]

<h3>
Load <i>learning</i> table
</h3><br>
This table contains all elements that allow me to link the three previous tables together in a meaningful way. Of this table I only keep the last attribute (access date), since the first three serve just to establish the afore mentioned link by checking that they match course, student or learning material IDs.

In [26]:
learningDict = dict()
key = 0
with open(path + 'tables/learningTable.csv', newline = '') as csvLearning:
    reader = csv.reader(csvLearning)
    for line in reader:
        learningDict[key] = line
        key += 1

In [27]:
newLearningDict = dict()
for key in learningDict[0]:
    newLearningDict[key] = list()
for i in range(1, len(learningDict)):
    for j in range(0, len(learningDict[0])):
        newLearningDict[learningDict[0][j]].append(learningDict[i][j])

In [28]:
print(newLearningDict.keys())

dict_keys(['course', 'student', 'learning_material', 'accessDate'])

<h4>
Print out the result (a small sample)
</h4>

In [43]:
print(' ' * (27 - len('learning table')), 'learning table:', len(newLearningDict['course']), '\n')
print(' ' * (10 - len('course ID')), 'course ID', ' ' * (12 - len('student ID')), 'student ID', ' ' * (10 - len('lm ID')), 'lm ID', ' ' * (15 - len('access date')), 'access date')
for i in range(0, 50):
    print(' ' * (10 - len(newLearningDict['course'][i])), newLearningDict['course'][i], ' ' * (12 - len(newLearningDict['student'][i])), newLearningDict['student'][i], ' ' * (10 - len(newLearningDict['learning_material'][i])), newLearningDict['learning_material'][i], ' ' * (15 - len(newLearningDict['accessDate'][i])), newLearningDict['accessDate'][i])
print(' ' * (10 - len('[...]')), '[...]')

              learning table: 1095645

  course ID    student ID       lm ID      access date
        192             2       13366       2022-12-03
        192             2       13367       2023-01-05
        192             2       13368       2023-01-30
        192             2       13369       2023-01-30
        192             2       13370       2023-03-18
        192             2       13371       2023-08-12
        192             2       13372       2023-02-02
        192             2       13373       2022-09-27
        192             2       13374       2022-11-03
        192             2       13375       2022-08-27
        192             2       13376       2023-06-15
        192             2       13377       2022-09-29
        192             2       13378       2023-03-29
        192             2       13379       2023-07-22
        192             2       13380       2022-07-18
        192             2       13381       2022-09-13
        192             2       13382       2022-07-26
        192             2       13383       2023-04-11
        192             2       13384       2023-02-07
        192             2       13385       2023-03-10
        192             2       13386       2023-07-26
        192             2       13387       2023-03-14
        192             2       13388       2023-04-08
        192             2       13389       2023-04-12
        192             2       13390       2023-03-31
        192             2       13391       2022-08-10
        192             2       13392       2023-01-13
        192             2       13393       2022-10-09
        192             2       13394       2023-06-14
        192             2       13395       2022-07-23
        192             2       13396       2022-09-13
        192             2       13397       2023-02-27
        192             2       13398       2022-09-26
        192             2       13399       2023-05-23
        192             2       13400       2023-08-09
        192             2       13401       2023-05-10
        192             2       13402       2023-02-27
        192             2       13403       2023-03-01
        192             2       13404       2022-10-31
        192             2       13405       2023-06-28
        192             2       13406       2023-06-24
        192             2       13407       2022-10-13
        192             2       13408       2023-02-16
        192             2       13409       2022-11-18
        192             2       13410       2022-12-15
        192             2       13411       2023-06-30
        192             2       13412       2023-06-29
        192             2       13413       2022-09-02
        192             2       13414       2023-05-19
        192             2       13415       2023-02-15
      [...]

<h3>
Building the final table
</h3><br>
I loop over the <i>learning</i> table, which is the backbone on which my desired table is built. It contains course, student and learning material ID, so while looping, for each row I need to loop over the <i>course</i>, <i>student</i> and <i>learning</i> table in order to retrieve the course, student and learning material ID matching those present in the row of the <i>learning</i> table that I'm actually positioned at. When I find the correspondence I attach all of the information retrieved from the other three tables into my final dictionary. I just omit the IDs in the <i>learning</i> table because they are replicated in the other three tables.

In [37]:
for learnCourse, learnStudent, learnLM, learnDate in zip(newLearningDict['course'], newLearningDict['student'], newLearningDict['learning_material'], newLearningDict['accessDate']):
    for cID, disc, cName, cYear, syllabus in zip(newCourseDict['courseID'], newCourseDict['discipline'], newCourseDict['courseName'], newCourseDict['courseYear'], newCourseDict['syllabus']):
        if learnCourse == cID:
            finalDict['courseID'].append(cID)
            finalDict['discipline'].append(disc)
            finalDict['courseName'].append(cName)
            finalDict['courseYear'].append(cYear)
            finalDict['syllabus'].append(syllabus)
    for sID, firstName, lastName, dob, genre, country, town, email in zip(newStudentDict['studentID'], newStudentDict['firstName'], newStudentDict['lastName'], newStudentDict['dateOfBirth'], newStudentDict['genre'], newStudentDict['country'], newStudentDict['town'], newStudentDict['email']):
        if learnStudent == sID:
            finalDict['studentID'].append(sID)
            finalDict['firstName'].append(firstName)
            finalDict['lastName'].append(lastName)
            finalDict['dateOfBirth'].append(dob)
            finalDict['genre'].append(genre)
            finalDict['country'].append(country)
            finalDict['town'].append(town)
            finalDict['email'].append(email)
    for lmID, unit, lmType, lmName, dimension in zip(newLMDict['materialID'], newLMDict['unit'], newLMDict['materialType'], newLMDict['name'], newLMDict['dimension']):
        if learnLM == lmID:
            finalDict['materialID'].append(lmID)
            finalDict['unit'].append(unit)
            finalDict['materialType'].append(lmType)
            finalDict['name'].append(lmName)
            finalDict['dimension'].append(dimension)
    finalDict['accessDate'].append(learnDate)

In [39]:
# save final table to csv file
with open(path + 'tables/finalTable.csv', 'w', newline = '') as csvfile:
    writer = csv.writer(csvfile)
    keys = finalDict.keys()
    limit = len(finalDict['courseID'])
    
    writer.writerow(keys)
    for i in range(0, limit):
        writer.writerow(finalDict[k][i] for k in keys)