<h2>
<center>
ENROLLING SCHEMA
</center>
</h2>

<br><h3>
Import required modules
</h3>

In [1]:
from faker import Faker
from random import randint, sample
import datetime
import csv

<h3>
Define main path of the project (Windows/Mac) where the notebooks are located
</h3>

In [2]:
# Windows
# path = 'C:/Users/mzlarosa/OneDrive - unime.it/Learning/CdL Informatica/Anno II - Database/Module B/project/'

# Mac
path = '/Users/mau/OneDrive - unime.it/Learning/CdL Informatica/Anno II - Database/Module B/project/'

<h3>
Create a dictionary of empty lists, where the keys are the attribute names
</h3>

In [3]:
enrollingSchema = ['course', 'student', 'enrollDate']
enrollingDict = dict()
for attribute in enrollingSchema:
    enrollingDict[attribute] = list()

<h3>
Load student table
</h3><br>
The <i>enrolling</i> table stores student and course IDs and enrollment date. Hence I need to load student and course data from the respective tables. In the following code block I load the student table and store its data into a dictionary where the keys are the student attribute names and the values are lists with actual data.

In [9]:
studentDict = dict()
key = 0
with open(path + 'tables/studentTable.csv', newline = '', encoding = 'UTF-16') as csvStudent:
    reader = csv.reader(csvStudent, delimiter = ',')
    for line in reader:
        studentDict[key] = line
        key += 1

In [23]:
print(studentDict)

{0: ['studentID', 'firstName', 'lastName', 'dateOfBirth', 'genre', 'country', 'town', 'email'], 1: ['1', 'Josephine', 'Cook', '1987-3-2', 'female', 'Kuwait', 'Bibihaven', 'josephine.cook@yahoo.com'], 2: ['2', 'Sükrü', 'Lehmann', '1973-4-14', 'male', 'Guinea', 'Hagenow', 'sükrü.lehmann@gmx.de'], 3: ['3', 'Gunnar', 'Johansson', '1997-9-22', 'male', 'Syrien', 'Karlskoga', 'gunnar.johansson@swipnet.se'], 4: ['4', 'Carl', 'Gustafsson', '2003-10-20', 'male', 'Malaysia', 'Nyköping', 'carl.gustafsson@telia.com'], 5: ['5', 'Elise', 'Myhre', '1981-11-8', 'female', 'Angola', 'Sindreberg', 'elise.myhre@hotmail.com'], 6: ['6', 'Diogo', 'Dias', '1963-10-2', 'male', 'Ilha Bouvet', 'Carvalho', 'diogo.dias@uol.com.br'], 7: ['7', 'Jovita', 'Kaupas', '1967-9-27', 'female', 'Western Sahara', 'Ignasfort', 'jovita.kaupas@yahoo.com'], 8: ['8', 'Linn', 'Bos', '1965-3-2', 'female', 'Italië', 'Noordeloos', 'linn.bos@gmail.com'], 9: ['9', 'Grégoire', 'Morvan', '1990-5-17', 'male', 'Cap Vert', 'Grégoire-sur-Marques', 'grégoire.morvan@tiscali.fr'], 10: ['10', 'Kartik', 'Chaudhuri', '1987-6-26', 'female', 'Samoa', 'Chapra', 'kartik.chaudhuri@hotmail.com'], 11: ['11', 'Ivo', 'Sobrero', '1989-11-10', 'non binary', 'Giordania', 'Macchiareddu', 'ivo.sobrero@live.com'], 12: ['12', 'Modesta', 'Dalmau', '1996-8-20', 'female', 'Tayikistán', 'Ávila', 'modesta.dalmau@yahoo.com'], 13: ['13', 'Zain', 'Hans', '1983-6-23', 'male', 'Andorra', 'Dewas', 'zain.hans@hotmail.com'], 14: ['14', 'Alphonse', 'Dupuy', '1982-5-19', 'male', 'Cap Vert', 'Bourgeois-sur-Fleury', 'alphonse.dupuy@voila.fr'], 15: ['15', 'Elisabeth', 'Olofsson', '2002-9-30', 'female', 'Jemen', 'Lund', 'elisabeth.olofsson@gmail.com'], 16: ['16', 'Timothée', 'Mathieu', '1996-5-28', 'male', 'Italie', 'Lopes-les-Bains', 'timothée.mathieu@hotmail.fr'], 17: ['17', 'Pijus', 'Povilonis', '1977-4-22', 'female', 'Martinique', 'South Eidvilė', 'pijus.povilonis@gmail.com'], 18: ['18', 'Audrius', 'Kazlauskas', '1996-1-28', 'female', 'Grenada', 'Kalvelisside', 'audrius.kazlauskas@gmail.com'], 19: ['19', 'Çağveren', 'Yaman', '1978-10-17', 'male', 'Switzerland', 'South Gülüs', 'çağveren.yaman@outlook.com'], 20: ['20', 'Franco', 'Bonino', '2004-2-16', 'male', 'Cuba', 'Ovada', 'franco.bonino@yahoo.com'], 21: ['21', 'Jenny', 'Larsson', '1971-10-26', 'non binary', 'Georgien', 'Varberg', 'jenny.larsson@telia.com'], 22: ['22', 'Bettina', 'Anders', '1982-3-17', 'female', 'Sonderverwaltungszone Hongkong', 'Forchheim', 'bettina.anders@yahoo.de'], 23: ['23', 'Lucas', 'Pinto', '2005-1-26', 'non binary', 'São Cristóvão e Neves', 'das Neves', 'lucas.pinto@uol.com.br'], 24: ['24', 'David', 'Howells', '1978-4-21', 'male', 'Mozambique', 'West Maurice', 'david.howells@gmail.com'], 25: ['25', 'Sem', 'Lind', '1998-6-28', 'male', 'Sint Maarten', 'Ouderkerk aan den IJssel', 'sem.lind@yahoo.com'], 26: ['26', 'Magnus', 'Eliassen', '1969-12-27', 'male', 'The Gambia', 'Sørensen', 'magnus.eliassen@gmail.com'], 27: ['27', 'Lorraine', 'Lévêque', '1967-9-1', 'female', 'Timor', 'Gérard', 'lorraine.lévêque@voila.fr'], 28: ['28', 'Anna', 'Olofsson', '1995-12-19', 'female', 'Jamaica', 'Skellefteå', 'anna.olofsson@yahoo.de'], 29: ['29', 'Sven', 'Andersson', '2004-10-10', 'male', 'Färöarna', 'Linköping', 'sven.andersson@telia.com'], 30: ['30', 'Leonardo', 'Gonçalves', '1975-8-21', 'male', 'Mayotte', 'Moura de Costela', 'leonardo.gonçalves@bol.com.br'], 31: ['31', 'Kaique', 'da Rosa', '1997-3-28', 'male', 'Maldivas', 'Moreira do Norte', 'kaique.da rosa@uol.com.br'], 32: ['32', 'César', 'Vicente', '2000-12-24', 'male', 'Croácia', 'Gafanha da Nazaré', 'césar.vicente@hotmail.com'], 33: ['33', 'Leif', 'Bengtsson', '1986-8-24', 'male', 'Brittiska Jungfruöarna', 'Örebro', 'leif.bengtsson@telia.com'], 34: ['34', 'Ismık', 'Hayrioğlu', '1978-1-1', 'male', 'South Africa', 'West Azade', 'ismık.hayrioğlu@yandex.com'], 35: ['35', 'Joy', 'Wolf', '1969-5-11', 'female', 'Lithuania', 'East Kathyland', 'joy.wolf@hotmail.com'], 36: ['36', 'Joris', 'Kalvaitis', '1967-5-19', 'male', 'New Caledonia', 'Lake Kristina', 'joris.kalvaitis@gmail.com'], 37: ['37', 'Matilde', 'Araújo', '1992-7-24', 'female', 'Paquistão', 'Santo Tirso', 'matilde.araújo@clix.pt'], 38: ['38', 'Rita', 'Sousa', '1983-4-3', 'female', 'Vietname', 'Faro', 'rita.sousa@gmail.com'], 39: ['39', 'Sofia', 'Rodrigues', '1970-5-10', 'female', 'Barbados', 'Santos', 'sofia.rodrigues@ig.com.br'], 40: ['40', 'Martin', 'Andre', '1969-2-4', 'male', 'Autriche', 'Sanchez', 'martin.andre@wanadoo.fr'], 41: ['41', 'Julius', 'Gintalas', '1982-11-17', 'male', 'Guam', 'Paulauskasborough', 'julius.gintalas@yahoo.com'], 42: ['42', 'Luiz Otávio', 'Castro', '1995-8-22', 'male', 'Jibuti', 'Barros de Moreira', 'luiz otávio.castro@ig.com.br'], 43: ['43', 'Stéphanie', 'Gauthier', '1964-8-18', 'female', 'Égypte', 'Saint Élisabeth', 'stéphanie.gauthier@ifrance.com'], 44: ['44', 'Ryan', 'Cunha', '1996-9-6', 'male', 'Argentina', 'Cavalcanti do Galho', 'ryan.cunha@hotmail.com'], 45: ['45', 'Andrew', 'Stokes', '1996-4-28', 'male', 'Korea', 'Cameronburgh', 'andrew.stokes@yahoo.com'], 46: ['46', 'Maria Clara', 'Alves', '1972-6-30', 'non binary', 'São Cristóvão e Neves', 'Melo das Flores', 'maria clara.alves@ig.com.br'], 47: ['47', 'Flor', 'Julián', '2002-2-2', 'female', 'Uruguay', 'Lugo', 'flor.julián@gmail.com'], 48: ['48', 'Kenneth', 'Jones', '2004-10-3', 'male', 'British Indian Ocean Territory (Chagos Archipelago)', 'Deannaside', 'kenneth.jones@yahoo.com'], 49: ['49', 'Théophile', 'Bouvet', '2000-1-19', 'male', 'Syrie', 'Le Rouxboeuf', 'théophile.bouvet@club-internet.fr'], 50: ['50', 'Erasmo', 'Español', '1984-5-26', 'male', 'Swazilandia', 'Soria', 'erasmo.español@gmail.com'], 51: ['51', 'Zain', 'Arya', '1990-4-4', 'female', 'Rwanda', 'Sirsa', 'zain.arya@hotmail.com'], 52: ['52', 'Joanne', 'Turner', '1986-12-8', 'female', 'Uzbekistan', 'Francisside', 'joanne.turner@outlook.com'], 53: ['53', 'Florentina', 'Duran', '2000-7-19', 'female', 'Israel', 'Sevilla', 'florentina.duran@yahoo.com'], 54: ['54', 'Lucas', 'Brito', '1975-1-15', 'male', 'Irão', 'Santana', 'lucas.brito@hotmail.com'], 55: ['55', 'Günaydin', 'Ergül', '1982-2-21', 'male', 'Tuvalu', 'Kotuztown', 'günaydin.ergül@yandex.com'], 56: ['56', 'Brita', 'Heinrich', '1986-8-4', 'female', 'Nepal', 'Neustadt am Rübenberge', 'brita.heinrich@yahoo.de'], 57: ['57', 'Dylan', 'Rush', '1975-5-4', 'male', 'French Polynesia', 'North Chadport', 'dylan.rush@gmail.com'], 58: ['58', 'Michelotto', 'Boccherini', '1987-2-19', 'male', 'Kenya', 'Posta', 'michelotto.boccherini@virgilio.it'], 59: ['59', 'Pier', 'Gentileschi', '1977-11-13', 'male', 'Norvegia', 'Cursi', 'pier.gentileschi@gmail.com'], 60: ['60', 'Maria', 'Lindström', '1969-11-24', 'female', 'Bosnien och Hercegovina', 'Borås', 'maria.lindström@swipnet.se'], 61: ['61', 'Ralf', 'Weitzel', '1964-1-4', 'male', 'Island', 'Staffelstein', 'ralf.weitzel@gmail.com'], 62: ['62', 'Niclas', 'Persson', '1985-6-22', 'male', 'Schweiz', 'Växjö', 'niclas.persson@swipnet.se'], 63: ['63', 'Gaspar', 'Carneiro', '2003-9-18', 'male', 'Navassa Island', 'Matosinhos', 'gaspar.carneiro@sapo.pt'], 64: ['64', 'Carly', 'Moss', '1991-5-27', 'female', 'Northern Mariana Islands', 'Burnsmouth', 'carly.moss@gmail.com'], 65: ['65', 'Jan', 'Magnusson', '1977-7-16', 'male', 'Georgien', 'Uddevalla', 'jan.magnusson@yahoo.de'], 66: ['66', 'Phillip', 'Smith', '1967-8-7', 'male', 'Monaco', 'West Frank', 'phillip.smith@yahoo.co.uk'], 67: ['67', 'Joséphine', 'Pereira', '2004-1-14', 'female', 'Kirghizistan', 'Saint Dominiquedan', 'joséphine.pereira@orange.fr'], 68: ['68', 'Louis', 'Le Roux', '1980-11-9', 'male', 'Saint Vincent et les Grenadines', 'Leroux-les-Bains', 'louis.le roux@tiscali.fr'], 69: ['69', 'Nili', 'Yorulmaz', '1963-9-8', 'female', 'Saint Vincent and the Grenadines', 'Durduberg', 'nili.yorulmaz@hotmail.com'], 70: ['70', 'Bjørn', 'Tangen', '1996-5-25', 'male', 'Norway', 'Tobiasvåg', 'bjørn.tangen@gmail.com'], 71: ['71', 'Ehsaan', 'Kothari', '1993-11-15', 'male', 'Angola', 'Thane', 'ehsaan.kothari@yahoo.com'], 72: ['72', 'Matilda', 'Andersson', '1973-12-17', 'female', 'Algeriet', 'Helsingborg', 'matilda.andersson@googlemail.com'], 73: ['73', 'Richard', 'Schäfer', '1982-6-28', 'male', 'Senegal', 'Gransee', 'richard.schäfer@hotmail.de'], 74: ['74', 'Carla', 'Cobb', '1989-1-23', 'female', 'El Salvador', 'North Taylortown', 'carla.cobb@hotmail.com'], 75: ['75', 'Charles', 'Benard', '1973-1-13', 'male', 'Liechtenstein', 'Peron', 'charles.benard@voila.fr'], 76: ['76', 'Paulo', 'Torres', '1999-3-19', 'male', 'Lituânia', 'Beja', 'paulo.torres@clix.pt'], 77: ['77', 'Özçam', 'Şafak', '1993-3-17', 'male', 'Saint Vincent and the Grenadines', 'New Gökçe', 'özçam.şafak@hotmail.com'], 78: ['78', 'Luiz Miguel', 'Correia', '1983-5-26', 'male', 'Chile', 'Souza', 'luiz miguel.correia@gmail.com'], 79: ['79', 'Jéssica', 'Jesus', '1967-5-28', 'non binary', 'Alemanha', 'Lamego', 'jéssica.jesus@hotmail.com'], 80: ['80', 'Vitor', 'Porto', '1988-7-6', 'male', 'Timor Leste', 'Cunha', 'vitor.porto@uol.com.br'], 81: ['81', 'Torbjørn', 'Paulsen', '2001-2-21', 'male', 'Trinidad and Tobago', 'Arnesen', 'torbjørn.paulsen@yahoo.com'], 82: ['82', 'Brunhilde', 'Neureuther', '1993-10-5', 'female', 'Ruanda', 'Büsingen am Hochrhein', 'brunhilde.neureuther@aol.de'], 83: ['83', 'Odd', 'Berg', '1993-5-25', 'male', 'France', 'Strand', 'odd.berg@gmail.com'], 84: ['84', 'Lewis', 'Webster', '1991-8-28', 'male', 'Timor-Leste', 'Tracybury', 'lewis.webster@hotmail.co.uk'], 85: ['85', 'Leopoldo', 'Abascal', '1985-1-8', 'non binary', 'Congo', 'Valladolid', 'leopoldo.abascal@hotmail.com'], 86: ['86', 'Lindsay', 'Warren', '1994-2-28', 'female', 'Nepal', 'Georgefurt', 'lindsay.warren@hotmail.com'], 87: ['87', 'Valentina', 'Simões', '2002-1-20', 'female', 'Samoa', 'Gandra', 'valentina.simões@gmail.com'], 88: ['88', 'Andreia', 'Nunes', '2000-9-22', 'female', 'Honduras', 'Tomar', 'andreia.nunes@gmail.com'], 89: ['89', 'Filippo', 'Morricone', '1982-4-25', 'male', 'Tuvalu', 'Welsberg', 'filippo.morricone@libero.it'], 90: ['90', 'Azeglio', 'Pavone', '1971-5-2', 'non binary', 'Ungheria', 'Magliano Vetere', 'azeglio.pavone@vodafone.it'], 91: ['91', 'Julie', 'Benard', '2001-12-25', 'female', 'Guatemala', 'Saint AdrienneBourg', 'julie.benard@free.fr'], 92: ['92', 'Anthony', 'Moura', '1997-2-11', 'male', 'São Pedro e Miquelon', 'Dias Verde', 'anthony.moura@uol.com.br'], 93: ['93', 'Gastón', 'Sanz', '1980-8-28', 'male', 'Venezuela', 'Lugo', 'gastón.sanz@yahoo.com'], 94: ['94', 'Dionisia', 'Morán', '1981-5-16', 'female', 'Myanmar', 'Huelva', 'dionisia.morán@gmail.com'], 95: ['95', 'Adrian', 'Solheim', '1969-10-7', 'male', 'Belgium', 'Jørgensen', 'adrian.solheim@yahoo.com'], 96: ['96', 'Veerle', 'Groenendaal', '1975-4-22', 'non binary', 'Syrië', 'Boerakker', 'veerle.groenendaal@hotmail.com'], 97: ['97', 'Thierry', 'Couturier', '1989-3-28', 'non binary', 'Estonie', 'Becker-sur-Teixeira', 'thierry.couturier@hotmail.fr'], 98: ['98', 'Jorūnė', 'Kalvaitis', '1987-12-25', 'female', 'Bahamas', 'Markasfort', 'jorūnė.kalvaitis@hotmail.com'], 99: ['99', 'Lise', 'Knutsen', '1988-10-4', 'female', 'Algeria', 'Gundersen', 'lise.knutsen@yahoo.com'], 100: ['100', 'Lorena', 'Lourenço', '1963-7-5', 'non binary', 'Bermudas', 'Sacavém', 'lorena.lourenço@hotmail.com']}

In [34]:
newStudentDict = dict()
for key in studentDict[0]:
    newStudentDict[key] = list()
for i in range(1, len(studentDict)):
    newStudentDict['studentID'].append(int(studentDict[i][0]))
    newStudentDict['firstName'].append(studentDict[i][1])
    newStudentDict['lastName'].append(studentDict[i][2])
    newStudentDict['dateOfBirth'].append(studentDict[i][3])
    newStudentDict['genre'].append(studentDict[i][4])
    newStudentDict['country'].append(studentDict[i][5])
    newStudentDict['town'].append(studentDict[i][6])
    newStudentDict['email'].append(studentDict[i][7])

<h3>
Print out the result
</h3>

In [35]:
print('sID', ' ' * (5 - len('sID')), 'firstName', ' ' * (15 - len('firstName')), 'lastName', ' ' * (15 - len('lastName')), 'dateOfBirth', ' ' * (12 - len('dateOfBirth')), 'genre', ' ' * (10 - len('genre')), 'country', ' ' * (15 - len('country')), 'town', ' ' * (15 - len('town')), 'email')
for sID, firstName, lastName, dob, genre, country, town, email in zip(newStudentDict['studentID'], newStudentDict['firstName'], newStudentDict['lastName'], newStudentDict['dateOfBirth'], newStudentDict['genre'], newStudentDict['country'], newStudentDict['town'], newStudentDict['email']):
    print(sID, ' ' * (5 - len(str(sID))), firstName[0 : 15], ' ' * (15 - len(firstName[0 : 15])), lastName[0 : 15], ' ' * (15 - len(lastName[0 : 15])), dob, ' ' * (12 - len(dob)), genre, ' ' * (10 - len(genre)), country[0 : 15], ' ' * (15 - len(country[0 : 15])), town[0 : 15], ' ' * (15 - len(town[0 : 15])), email[0 : 20])

sID    firstName        lastName         dateOfBirth   genre       country          town             email
1      Josephine        Cook             1987-3-2      female      Kuwait           Bibihaven        josephine.cook@yahoo
2      Sükrü            Lehmann          1973-4-14     male        Guinea           Hagenow          sükrü.lehmann@gmx.de
3      Gunnar           Johansson        1997-9-22     male        Syrien           Karlskoga        gunnar.johansson@swi
4      Carl             Gustafsson       2003-10-20    male        Malaysia         Nyköping         carl.gustafsson@teli
5      Elise            Myhre            1981-11-8     female      Angola           Sindreberg       elise.myhre@hotmail.
6      Diogo            Dias             1963-10-2     male        Ilha Bouvet      Carvalho         diogo.dias@uol.com.b
7      Jovita           Kaupas           1967-9-27     female      Western Sahara   Ignasfort        jovita.kaupas@yahoo.
8      Linn             Bos              1965-3-2      female      Italië           Noordeloos       linn.bos@gmail.com
9      Grégoire         Morvan           1990-5-17     male        Cap Vert         Grégoire-sur-Ma  grégoire.morvan@tisc
10     Kartik           Chaudhuri        1987-6-26     female      Samoa            Chapra           kartik.chaudhuri@hot
11     Ivo              Sobrero          1989-11-10    non binary  Giordania        Macchiareddu     ivo.sobrero@live.com
12     Modesta          Dalmau           1996-8-20     female      Tayikistán       Ávila            modesta.dalmau@yahoo
13     Zain             Hans             1983-6-23     male        Andorra          Dewas            zain.hans@hotmail.co
14     Alphonse         Dupuy            1982-5-19     male        Cap Vert         Bourgeois-sur-F  alphonse.dupuy@voila
15     Elisabeth        Olofsson         2002-9-30     female      Jemen            Lund             elisabeth.olofsson@g
16     Timothée         Mathieu          1996-5-28     male        Italie           Lopes-les-Bains  timothée.mathieu@hot
17     Pijus            Povilonis        1977-4-22     female      Martinique       South Eidvilė    pijus.povilonis@gmai
18     Audrius          Kazlauskas       1996-1-28     female      Grenada          Kalvelisside     audrius.kazlauskas@g
19     Çağveren         Yaman            1978-10-17    male        Switzerland      South Gülüs      çağveren.yaman@outlo
20     Franco           Bonino           2004-2-16     male        Cuba             Ovada            franco.bonino@yahoo.
21     Jenny            Larsson          1971-10-26    non binary  Georgien         Varberg          jenny.larsson@telia.
22     Bettina          Anders           1982-3-17     female      Sonderverwaltun  Forchheim        bettina.anders@yahoo
23     Lucas            Pinto            2005-1-26     non binary  São Cristóvão e  das Neves        lucas.pinto@uol.com.
24     David            Howells          1978-4-21     male        Mozambique       West Maurice     david.howells@gmail.
25     Sem              Lind             1998-6-28     male        Sint Maarten     Ouderkerk aan d  sem.lind@yahoo.com
26     Magnus           Eliassen         1969-12-27    male        The Gambia       Sørensen         magnus.eliassen@gmai
27     Lorraine         Lévêque          1967-9-1      female      Timor            Gérard           lorraine.lévêque@voi
28     Anna             Olofsson         1995-12-19    female      Jamaica          Skellefteå       anna.olofsson@yahoo.
29     Sven             Andersson        2004-10-10    male        Färöarna         Linköping        sven.andersson@telia
30     Leonardo         Gonçalves        1975-8-21     male        Mayotte          Moura de Costel  leonardo.gonçalves@b
31     Kaique           da Rosa          1997-3-28     male        Maldivas         Moreira do Nort  kaique.da rosa@uol.c
32     César            Vicente          2000-12-24    male        Croácia          Gafanha da Naza  césar.vicente@hotmai
33     Leif             Bengtsson        1986-8-24     male        Brittiska Jungf  Örebro           leif.bengtsson@telia
34     Ismık            Hayrioğlu        1978-1-1      male        South Africa     West Azade       ismık.hayrioğlu@yand
35     Joy              Wolf             1969-5-11     female      Lithuania        East Kathyland   joy.wolf@hotmail.com
36     Joris            Kalvaitis        1967-5-19     male        New Caledonia    Lake Kristina    joris.kalvaitis@gmai
37     Matilde          Araújo           1992-7-24     female      Paquistão        Santo Tirso      matilde.araújo@clix.
38     Rita             Sousa            1983-4-3      female      Vietname         Faro             rita.sousa@gmail.com
39     Sofia            Rodrigues        1970-5-10     female      Barbados         Santos           sofia.rodrigues@ig.c
40     Martin           Andre            1969-2-4      male        Autriche         Sanchez          martin.andre@wanadoo
41     Julius           Gintalas         1982-11-17    male        Guam             Paulauskasborou  julius.gintalas@yaho
42     Luiz Otávio      Castro           1995-8-22     male        Jibuti           Barros de Morei  luiz otávio.castro@i
43     Stéphanie        Gauthier         1964-8-18     female      Égypte           Saint Élisabeth  stéphanie.gauthier@i
44     Ryan             Cunha            1996-9-6      male        Argentina        Cavalcanti do G  ryan.cunha@hotmail.c
45     Andrew           Stokes           1996-4-28     male        Korea            Cameronburgh     andrew.stokes@yahoo.
46     Maria Clara      Alves            1972-6-30     non binary  São Cristóvão e  Melo das Flores  maria clara.alves@ig
47     Flor             Julián           2002-2-2      female      Uruguay          Lugo             flor.julián@gmail.co
48     Kenneth          Jones            2004-10-3     male        British Indian   Deannaside       kenneth.jones@yahoo.
49     Théophile        Bouvet           2000-1-19     male        Syrie            Le Rouxboeuf     théophile.bouvet@clu
50     Erasmo           Español          1984-5-26     male        Swazilandia      Soria            erasmo.español@gmail
51     Zain             Arya             1990-4-4      female      Rwanda           Sirsa            zain.arya@hotmail.co
52     Joanne           Turner           1986-12-8     female      Uzbekistan       Francisside      joanne.turner@outloo
53     Florentina       Duran            2000-7-19     female      Israel           Sevilla          florentina.duran@yah
54     Lucas            Brito            1975-1-15     male        Irão             Santana          lucas.brito@hotmail.
55     Günaydin         Ergül            1982-2-21     male        Tuvalu           Kotuztown        günaydin.ergül@yande
56     Brita            Heinrich         1986-8-4      female      Nepal            Neustadt am Rüb  brita.heinrich@yahoo
57     Dylan            Rush             1975-5-4      male        French Polynesi  North Chadport   dylan.rush@gmail.com
58     Michelotto       Boccherini       1987-2-19     male        Kenya            Posta            michelotto.boccherin
59     Pier             Gentileschi      1977-11-13    male        Norvegia         Cursi            pier.gentileschi@gma
60     Maria            Lindström        1969-11-24    female      Bosnien och Her  Borås            maria.lindström@swip
61     Ralf             Weitzel          1964-1-4      male        Island           Staffelstein     ralf.weitzel@gmail.c
62     Niclas           Persson          1985-6-22     male        Schweiz          Växjö            niclas.persson@swipn
63     Gaspar           Carneiro         2003-9-18     male        Navassa Island   Matosinhos       gaspar.carneiro@sapo
64     Carly            Moss             1991-5-27     female      Northern Marian  Burnsmouth       carly.moss@gmail.com
65     Jan              Magnusson        1977-7-16     male        Georgien         Uddevalla        jan.magnusson@yahoo.
66     Phillip          Smith            1967-8-7      male        Monaco           West Frank       phillip.smith@yahoo.
67     Joséphine        Pereira          2004-1-14     female      Kirghizistan     Saint Dominique  joséphine.pereira@or
68     Louis            Le Roux          1980-11-9     male        Saint Vincent e  Leroux-les-Bain  louis.le roux@tiscal
69     Nili             Yorulmaz         1963-9-8      female      Saint Vincent a  Durduberg        nili.yorulmaz@hotmai
70     Bjørn            Tangen           1996-5-25     male        Norway           Tobiasvåg        bjørn.tangen@gmail.c
71     Ehsaan           Kothari          1993-11-15    male        Angola           Thane            ehsaan.kothari@yahoo
72     Matilda          Andersson        1973-12-17    female      Algeriet         Helsingborg      matilda.andersson@go
73     Richard          Schäfer          1982-6-28     male        Senegal          Gransee          richard.schäfer@hotm
74     Carla            Cobb             1989-1-23     female      El Salvador      North Taylortow  carla.cobb@hotmail.c
75     Charles          Benard           1973-1-13     male        Liechtenstein    Peron            charles.benard@voila
76     Paulo            Torres           1999-3-19     male        Lituânia         Beja             paulo.torres@clix.pt
77     Özçam            Şafak            1993-3-17     male        Saint Vincent a  New Gökçe        özçam.şafak@hotmail.
78     Luiz Miguel      Correia          1983-5-26     male        Chile            Souza            luiz miguel.correia@
79     Jéssica          Jesus            1967-5-28     non binary  Alemanha         Lamego           jéssica.jesus@hotmai
80     Vitor            Porto            1988-7-6      male        Timor Leste      Cunha            vitor.porto@uol.com.
81     Torbjørn         Paulsen          2001-2-21     male        Trinidad and To  Arnesen          torbjørn.paulsen@yah
82     Brunhilde        Neureuther       1993-10-5     female      Ruanda           Büsingen am Hoc  brunhilde.neureuther
83     Odd              Berg             1993-5-25     male        France           Strand           odd.berg@gmail.com
84     Lewis            Webster          1991-8-28     male        Timor-Leste      Tracybury        lewis.webster@hotmai
85     Leopoldo         Abascal          1985-1-8      non binary  Congo            Valladolid       leopoldo.abascal@hot
86     Lindsay          Warren           1994-2-28     female      Nepal            Georgefurt       lindsay.warren@hotma
87     Valentina        Simões           2002-1-20     female      Samoa            Gandra           valentina.simões@gma
88     Andreia          Nunes            2000-9-22     female      Honduras         Tomar            andreia.nunes@gmail.
89     Filippo          Morricone        1982-4-25     male        Tuvalu           Welsberg         filippo.morricone@li
90     Azeglio          Pavone           1971-5-2      non binary  Ungheria         Magliano Vetere  azeglio.pavone@vodaf
91     Julie            Benard           2001-12-25    female      Guatemala        Saint AdrienneB  julie.benard@free.fr
92     Anthony          Moura            1997-2-11     male        São Pedro e Miq  Dias Verde       anthony.moura@uol.co
93     Gastón           Sanz             1980-8-28     male        Venezuela        Lugo             gastón.sanz@yahoo.co
94     Dionisia         Morán            1981-5-16     female      Myanmar          Huelva           dionisia.morán@gmail
95     Adrian           Solheim          1969-10-7     male        Belgium          Jørgensen        adrian.solheim@yahoo
96     Veerle           Groenendaal      1975-4-22     non binary  Syrië            Boerakker        veerle.groenendaal@h
97     Thierry          Couturier        1989-3-28     non binary  Estonie          Becker-sur-Teix  thierry.couturier@ho
98     Jorūnė           Kalvaitis        1987-12-25    female      Bahamas          Markasfort       jorūnė.kalvaitis@hot
99     Lise             Knutsen          1988-10-4     female      Algeria          Gundersen        lise.knutsen@yahoo.c
100    Lorena           Lourenço         1963-7-5      non binary  Bermudas         Sacavém          lorena.lourenço@hotm

<h3>
Load course table
</h3><br>
As anticipated before, I also need to feed the <i>enrolling</i> table the course ID, which is stored in the courses table. In the following code block I load the courses table and store its data into a dictionary where the keys are the course attribute names and the values are lists with actual data.

In [26]:
courseDict = dict()
key = 0
with open(path + 'tables/coursesTable.csv', newline = '', encoding = 'UTF-16') as csvCourses:
    reader = csv.reader(csvCourses, delimiter = ',')
    for line in reader:
        courseDict[key] = line
        key += 1

In [37]:
newCourseDict = dict()
for key in courseDict[0]:
    newCourseDict[key] = list()
for i in range(1, len(courseDict)):
    newCourseDict['courseID'].append(int(courseDict[i][0]))
    newCourseDict['courseCategory'].append(courseDict[i][1])
    newCourseDict['courseName'].append(courseDict[i][2])
    newCourseDict['courseYear'].append(int(courseDict[i][3]))
    newCourseDict['syllabus'].append(courseDict[i][4])

<h3>
Print out the result (a small sample)
</h3>

In [38]:
# 50 elements from each list
print('cID', ' ' * (5 - len('cID')), 'courseCategory', ' ' * (15 - len('courseCategory')), 'courseName', ' ' * (30 - len('courseName')), 'courseYear', ' ' * (10 - len('courseYear')), 'syllabus')
for i in range(0, 50):
    cID = newCourseDict['courseID'][i]
    cat = newCourseDict['courseCategory'][i]
    name = newCourseDict['courseName'][i]
    year = newCourseDict['courseYear'][i]
    syll = newCourseDict['syllabus'][i]
    print(cID, ' ' * (5 - len(str(cID))), cat, ' ' * (15 - len(cat)), name[0 : 30], ' ' * (30 - len(name[0 : 30])), year, ' ' * (10 - len(str(year))), syll[0 : 40])
print('[...]')

cID    courseCategory   courseName                      courseYear  syllabus
1      IT               Introduction to the Internet o  2022        http://learning_platform.com/introductio
2      IT               Agile Software Development      2022        http://learning_platform.com/agilesoftwa
3      IT               Autodesk Certified Professiona  2022        http://learning_platform.com/autodeskcer
4      IT               Fundamentals of Graphic Design  2022        http://learning_platform.com/fundamental
5      IT               Java for Android                2022        http://learning_platform.com/javaforandr
6      IT               Introduction to Programming wi  2022        http://learning_platform.com/introductio
7      IT               Cryptography I                  2022        http://learning_platform.com/cryptograph
8      IT               HTML, CSS, and Javascript for   2022        http://learning_platform.com/htmlcssandj
9      IT               Google Cloud Big Data and Mach  2022        http://learning_platform.com/googlecloud
10     IT               Algorithms, Part II             2022        http://learning_platform.com/algorithmsp
11     IT               Algorithms, Part I              2022        http://learning_platform.com/algorithmsp
12     IT               Divide and Conquer, Sorting an  2022        http://learning_platform.com/divideandco
13     IT               Cloud Computing Concepts, Part  2022        http://learning_platform.com/cloudcomput
14     IT               Programming for Everybody (Get  2022        http://learning_platform.com/programming
15     IT               Design and Make Infographics (  2022        http://learning_platform.com/designandma
16     IT               Cloud Computing Basics (Cloud   2022        http://learning_platform.com/cloudcomput
17     IT               Hadoop Platform and Applicatio  2022        http://learning_platform.com/hadoopplatf
18     IT               Algorithmic Toolbox             2022        http://learning_platform.com/algorithmic
19     IT               Internet History, Technology,   2022        http://learning_platform.com/internethis
20     IT               Introduction to User Experienc  2022        http://learning_platform.com/introductio
21     IT               English for Career Development  2022        http://learning_platform.com/englishforc
22     IT               Data Visualization with Python  2022        http://learning_platform.com/datavisuali
23     IT               Computer Science: Programming   2022        http://learning_platform.com/computersci
24     IT               AI For Everyone                 2022        http://learning_platform.com/aiforeveryo
25     IT               Programming Foundations with J  2022        http://learning_platform.com/programming
26     IT               An Introduction to Interactive  2022        http://learning_platform.com/anintroduct
27     IT               Code Yourself! An Introduction  2022        http://learning_platform.com/codeyoursel
28     IT               Introducci\'f3n a Java          2022        http://learning_platform.com/introducci\
29     IT               Fundamentals of GIS             2022        http://learning_platform.com/fundamental
30     IT               Python and Statistics for Fina  2022        http://learning_platform.com/pythonandst
31     IT               Cybersecurity and Its Ten Doma  2022        http://learning_platform.com/cybersecuri
32     IT               Crash Course on Python          2022        http://learning_platform.com/crashcourse
33     IT               Design and Interpretation of C  2022        http://learning_platform.com/designandin
34     IT               Google Cloud Fundamentals: Cor  2022        http://learning_platform.com/googlecloud
35     IT               Design Thinking for Innovation  2022        http://learning_platform.com/designthink
36     IT               Programming Languages, Part A   2022        http://learning_platform.com/programming
37     IT               Introduction to Cybersecurity   2022        http://learning_platform.com/introductio
38     IT               How To Create a Website in a W  2022        http://learning_platform.com/howtocreate
39     IT               Functional Programming Princip  2022        http://learning_platform.com/functionalp
40     IT               SQL for Data Science            2022        http://learning_platform.com/sqlfordatas
41     IT               Programming Fundamentals        2022        http://learning_platform.com/programming
42     IT               Computer Architecture           2022        http://learning_platform.com/computerarc
43     IT               Build a Modern Computer         2022        http://learning_platform.com/buildamoder
44     IT               Getting Started with AWS Machi  2022        http://learning_platform.com/gettingstar
45     IT               Introduction to HTML5           2022        http://learning_platform.com/introductio
46     IT               Foundations of User Experience  2022        http://learning_platform.com/foundations
47     IT               Introduction to Google SEO      2022        http://learning_platform.com/introductio
48     IT               Visual Elements of User Interf  2022        http://learning_platform.com/visualeleme
49     IT               Fundamentals of Visualization   2022        http://learning_platform.com/fundamental
50     IT               Agile with Atlassian Jira       2022        http://learning_platform.com/agilewithat
[...]

<h4>
Generate fake assessment data
</h4><br>
It is realistic to suppose that students registered in the platform are not enrolled in any course, or are enrolled in a few courses. Hence I attach a random integer from 0 to 5 to each student: that is the number of courses in which they are enrolled.
Then, for each of the 0 or few courses in which the student is enrolled, I insert in the enrolling table the course ID, the student ID and a random enrollment date ranging from 1022-01-01 to 2023-06-30.

In [30]:
# each student in the student table may or may not be enrolled in a few courses
fake = Faker()
for student in newStudentDict['studentID']:
    nCourses = randint(0, 5)
    for i in range(0, nCourses):
        enrollingDict['course'].append(sample(newCourseDict['courseID'], 1)[0])
        enrollingDict['student'].append(student)
        fakeDate = fake.date_between(datetime.date(2022, 1, 1), datetime.date(2023, 7, 30))
        enrollingDict['enrollDate'].append(str(fakeDate.year) + '-' + str(fakeDate.month) + '-' + str(fakeDate.day))

<h3>
Print out the result (a small sample)
</h3>

In [40]:
print('cID', ' ' * (5 - len('cID')), 'sID', ' ' * (5 - len('sID')), 'enrollDate')
for i in range(0, 50):
    course = enrollingDict['course'][i]
    student = enrollingDict['student'][i]
    date = enrollingDict['enrollDate'][i]
    print(course, ' ' * (5 - len(str(course))), student, ' ' * (5 -len(str(student))), date)

cID    sID    enrollDate
428    1      2022-6-9
80     2      2022-11-30
260    2      2023-2-25
473    2      2022-1-27
299    3      2022-11-12
383    3      2023-6-28
408    4      2023-1-9
80     4      2022-9-10
293    4      2022-4-3
384    4      2023-5-8
252    4      2022-10-8
56     7      2022-2-7
198    8      2022-7-2
88     8      2023-3-11
207    8      2022-6-28
459    9      2022-6-10
286    9      2022-9-6
282    11     2022-2-6
26     11     2022-2-25
48     12     2023-4-27
354    12     2023-3-20
289    13     2023-2-24
10     13     2022-3-21
395    13     2022-9-19
163    13     2022-8-6
455    13     2023-3-7
121    14     2023-3-21
344    14     2022-1-4
72     14     2023-1-21
342    15     2022-3-17
223    15     2022-9-4
155    15     2022-9-17
30     15     2022-1-5
154    15     2022-8-20
308    16     2023-7-18
345    16     2023-5-10
225    16     2022-12-14
151    18     2022-11-30
457    18     2022-1-19
270    18     2022-2-14
138    18     2022-3-11
413    18     2022-4-4
384    19     2023-3-7
52     19     2023-4-7
53     19     2022-12-3
160    20     2022-7-25
301    20     2022-6-28
250    20     2022-1-5
226    20     2022-3-18
306    20     2022-8-3

In [46]:
# save enrolling table to csv file
with open(path + 'tables/enrollingTable.csv', 'w', newline = '') as csvfile:
    writer = csv.writer(csvfile)
    keys = enrollingDict.keys()
    limit = len(enrollingDict['course'])
    
    writer.writerow(keys)
    for i in range(0, limit):
        writer.writerow(enrollingDict[k][i] for k in keys)